<div data-ng-controller="View1Ctrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Arte e Tecnologia - UFCG</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" data-ng-init="isCollapsed = true">
        <h1> SemSentidoCG </h1>
        <p> Quantas coisas meio que inúteis você já encontrou por ai? Aquelas portas que saem para o vazio. Escadas ou rampas que não lhe levam a canto algum. Coisas realmente sem sentido. Esse projeto ta aqui para permitir que você dê sentido ao sem sentido. </p>

        <button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Saber Mais</button>
        <hr>
        <div uib-collapse="isCollapsed">
        <div class="well well-lg">
          <h4> Nossa Proposta </h4>
          Propomos a caçada a coisas sem sentido! E além do mais queremos que vc der sentido ao sem sentido. 

          Você já se sentiu incomodado com aquela escadaria que termina numa parede. Ou aquela rampa para deficientes que no fim vira uma escada. Tira uma foto! Posta no facebook/instagram com a hashtag #SemSentidoCG e divulgue seus achados para o nosso projeto

          <h4> Dê o seu Sentido! </h4>
          Nossa proposta não termina na caçada por coisas sem sentido. Nós vamos um passo além! O nosso site permite que você gere um QR Code a partir uma imagem online e gere uma pagina para impressão. Imprima e cola lá! Dê o seu sentido a aquele lugar.
          <h4> Instagram/Facebook </h4>
          Poste seu lugar sem sentido com a hashtag #SemSentidoCG no facebook ou instagram. Acesse nossa pagina e discuta lá. Poste imagens nas publicações de nossa página e veja qual coisa é a mais sem sentido.
        </div>
    </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Escolha um Link</h2>
          <input data-ng-model="stringqr" class="form-control" data-ng-change="isImage()">
        </div>
        <div class="col-md-4">
          <h2>Confira a imagem</h2>
          <img data-ng-show="showImage" src="{{stringqr}}" height="320" width="320">
       </div>
        <div class="col-md-4">
          <h2>QR Code</h2>
          <qr data-ng-if="showQR" text="stringqr"></qr>
        </div>
      </div>

      <hr>

      <footer>
        <p> Nome do Projeto - Universidade Federal de Campina Grande </p>
      </footer>
    </div> <!-- /container -->
</div>